<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:comment>
    <f:debug inline="true">{_all}</f:debug>
    <h2>{data.header}</h2>
    <div>
        <f:format.html>{data.assets}</f:format.html>
    </div>
    <f:debug>{images}</f:debug>
    <f:debug>{_all}</f:debug>
</f:comment>

<div class="row {data.row_items} g-4">
    <div class="col">
        <div class="card h-100">
            <f:for each="{images}" as="image">
                <f:image image="{image}" class="card-img-top" fileExtension="webp" />
            </f:for>
            <div class="card-body">
                <h5 class="card-title">
                    <f:link.typolink parameter="{data.header_link}">
                        {data.header}
                    </f:link.typolink>
                </h5>
                <p class="card-text">
                    <f:format.html>{data.bodytext}</f:format.html>
                </p>
            </div>

            <div class="card-footer d-grid gap-2 d-md-flex justify-content-between">
                <div class="btn btn-secondary disabled">
                    <small class="text-body-light">Erstellt am
                        <f:format.date format="d.m.Y - H:i">
                            {item.creationDate}
                        </f:format.date>
                        Uhr
                    </small>
                </div>
                <div class="btn btn-warning justify-content-md-end" title="{link_title}">
                    <small class="text-body-secondary">
                        <f:link.typolink parameter="{data.header_link}">
                            weiterlesen...
                        </f:link.typolink>
                    </small>
                </div>
            </div>

        </div>
    </div>
</div>


</html>